In [1]:
import pandas as pd

In [2]:
NA_dict = {-99: "N/A",
           -88: "N/A",
          "<.m>": "N/A"}
EGENDER_dict = {1: "Male",
                2: "Female"}
RHISPANIC_dict = {1: "No, not of Hispanic, Latino, or Spanish origin",
                  2: "Yes, of Hispanic, Latino, or Spanish origin"}
RRACE_dict = {1: "White, Alone",
              2: "Black, Alone",
              3: "Asian, Alone",
              4: "Any other race alone, or in combination"}
EEDUC_dict = {1: "Less than high school",
              2: "Some high school",
              3: "High school graduate or equivalent (for example GED)",
              4: "Some college, but degree not received or is in progress",
              5: "Associate's degree (for example AA, AS)",
              6: "Bachelor's degree (for example BA, BS, AB)",
              7: "Graduate degree (for example master's, professional, doctorate)"}
MS_dict = {1: "Now married",
           2: "Widowed",
           3: "Divorced",
           4: "Separated",
           5: "Never married"}
WRKLOSS_dict = {1: "Yes",
                2: "No"}
EXPCTLOSS_dict = {1: "Yes",
                  2: "No"}
ANYWORK_dict = {1: "Yes",
                2: "No"}
RSNNOWRK_dict = {1: "I did not want to be employed at this time",
                 2: "I am/was sick with coronavirus symptoms",
                 3: "I am/was caring for someone with coronavirus symptoms",
                 4: "I am/was caring for children not in school or daycare",
                 5: "I am/was caring for an elderly person",
                 6: "I am/was sick (not coronavirus related) or disables",
                 7: "I am retired",
                 8: "I did not have work due to coronavirus pandemic related reduction in business (including furlough)",
                 9: "I am/was laid off due to coronavirus pandemic",
                 10: "My employment closed temporarily due to the coronavirus pandemic",
                 11: "My employment went out of businees due to the coronavirus pandemic",
                 12: "Other",
                 13: "I was concerned about getting or spreading the coronavirus"}
FOODCONF_dict = {1: "Not at all confident",
                 2: "Somewhat confident",
                 3: "Moderately confident",
                 4: "Very confident"}
HLTHSTATUS_dict = {1: "Excellent",
                   2: "Very good",
                   3: "Good",
                   4: "Fair",
                   5: "Poor"}
ANXIOUS_dict = {1: "Not at all",
                2: "Several days",
                3: "More than half the days",
                4: "Nearly every day"}
WORRY_dict = {1: "Not at all",
              2: "Several days",
              3: "More than half the days",
              4: "Nearly every day"}
INTEREST_dict = {1: "Not at all",
                 2: "Several days",
                 3: "More than half the days",
                 4: "Nearly every day"}
DOWN_dict = {1: "Not at all",
             2: "Several days",
             3: "More than half the days",
             4: "Nearly every day"}
DELAY_dict = {1: "Yes",
             2: "No"}
NOTGET_dict = {1: "Yes",
              2: "No"}
TENURE_dict = {1: "Owned free and clear",
               2: "Owned with a mortagage or loan (including home equity loan)",
               3: "Rented",
               4: "Occupied without payment or rent"}
MORTCONF_dict = {1: "No confidence",
                 2: "Slight confidence",
                 3: "Moderate confidence",
                 4: "High confidence",
                 5: "Payment is/will be deferred"}
INCOME_dict = {1: "Less than $25,000",
               2: "$25,000 - $34,999",
               3: "$35,000 - $49,999",
               4: "$50,000 - $74,999",
               5: "$75,000 - $99,999",
               6: "$100,000 - $149,999",
               7: "$150,000 - $199,999",
               8: "$200,000 and above"}
EST_ST_dict = {1: "Alabama", 2: "Alaska", 4: "Arizona", 5: "Arkansas", 6: "California",
               8: "Colorado", 9: "Connecticut", 10: "Delaware", 11: "District of Columbia", 12: "Florida",
               13: "Georgia", 15: "Hawaii", 16: "Idaho", 17: "Illinois", 18: "Indiana",
               19: "Iowa", 20: "Kansas", 21: "Kentucky", 22: "Louisiana", 23: "Maine",
               24: "Maryland", 25: "Massachusetts", 26: "Michigan", 27: "Minnesota", 28: "Mississippi",
               29: "Missouri", 30: "Montana", 31: "Nebraska", 32: "Nevada", 33: "New Hampshire",
               34: "New Jersey", 35: "New Mexico", 36: "New York", 37: "North Carolina", 38: "North Dakota",
               39: "Ohio", 40: "Oklahoma", 41: "Oregon", 42: "Pennyslvania", 44: "Rhode Island",
               45: "South Carolina", 46: "South Dakota", 47: "Tennessee", 48: "Texas", 49: "Utah",
               50: "Vermont", 51: "Virginia", 53: "Washington", 54: "West Virginia", 55: "Winsconsin",
               56: "Wyoming"}

In [158]:
keep_cols = ["WEEK", "EST_ST", "TBIRTH_YEAR", "EGENDER", "RHISPANIC",
             "RRACE", "EEDUC", "MS", "THHLD_NUMPER", "THHLD_NUMKID",
             "THHLD_NUMADLT", "EXPCTLOSS", "ANYWORK",
             "ANXIOUS", "WORRY", "INTEREST",
             "DOWN", "DELAY", "NOTGET", "TENURE", "MORTCONF",
             "INCOME"]
all_dicts = {"EGENDER": EGENDER_dict,
             "RHISPANIC": RHISPANIC_dict,
             "RRACE": RRACE_dict,
             "EEDUC": EEDUC_dict,
             "MS": MS_dict,
             "EXPCTLOSS": EXPCTLOSS_dict,
             "ANYWORK": ANYWORK_dict,
             "ANXIOUS": ANXIOUS_dict,
             "WORRY": WORRY_dict,
             "INTEREST": INTEREST_dict,
             "DOWN": DOWN_dict,
             "DELAY": DELAY_dict,
             "NOTGET": NOTGET_dict,
             "TENURE": TENURE_dict,
             "MORTCONF": MORTCONF_dict,
             "INCOME": INCOME_dict,
             "EST_ST": EST_ST_dict}

In [159]:
def clean(df, NA_dict, all_dicts):
    df.replace(NA_dict, inplace = True)
    for c in df.columns:
        if c in all_dicts.keys():
            df[c].replace(all_dicts[c], inplace = True)
    drop_rows = df[(df["ANXIOUS"] == "N/A") | (df["WORRY"] == "N/A") | (df["INTEREST"] == "N/A") | (df["DOWN"] == "N/A")].index
    df.drop(drop_rows, axis = 0, inplace = True)
    output_df = df.sample(sample_num).reset_index(drop = True)
    return output_df

In [184]:
df = pd.read_csv('p3.2/pulse2021_puf_34.csv')
sample_num = df.shape[0]//100

In [185]:
for k in all_dicts.keys():
    if k not in df.columns:
        print(k)

EGENDER
EXPCTLOSS
DELAY
NOTGET

In [182]:
smaller_df = df.loc[:, keep_cols]
output_df = clean(smaller_df, NA_dict, all_dicts)

In [183]:
output_df.to_csv("p3.1/week33.csv", index = False)

* Note that I sampled the dataset
* That the data was dirty due to be survey data and it changed over time
* Enforced consistency by only using columns that appeared in every single week
* Add avenues of future research and mention non-binary not being an otption in the survey
* Talk more about why data science solution would be effective - classes aren't immediately obvious so discuss how I would generate those labels
* Look at distribution and include discussion on how I generated the labels
* Include visualization on how I'm discerning the two classes
* Scatterplot to see income vs symptoms
* Stacked bar chart to identify different groups for education

In [118]:
df.head()

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,HWEIGHT,PWEIGHT,TBIRTH_YEAR,ABIRTH_YEAR,EGENDER,...,PSWHYCHG1,PSWHYCHG2,PSWHYCHG3,PSWHYCHG4,PSWHYCHG5,PSWHYCHG6,PSWHYCHG7,PSWHYCHG8,PSWHYCHG9,INCOME
0,V220000001S10011352410113,22,1,NaN,2,1170.787410,3285.401695,1978,2,2,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88
1,V220000001S10011554410113,22,1,NaN,2,899.968937,1683.630149,1947,2,2,...,-99,-99,-99,1,-99,1,-99,-99,-99,4
2,V220000001S15010024400123,22,1,NaN,2,2077.836258,3887.142791,1989,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,5
3,V220000001S15010351400113,22,53,42660.0,4,3555.421031,6731.726343,1971,2,2,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,6
4,V220000001S18010504900113,22,6,NaN,4,1187.564364,2190.205141,1985,2,2,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,7

In [186]:
df

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,HWEIGHT,PWEIGHT,TBIRTH_YEAR,ABIRTH_YEAR,RHISPANIC,...,PSWHYCHG1,PSWHYCHG2,PSWHYCHG3,PSWHYCHG4,PSWHYCHG5,PSWHYCHG6,PSWHYCHG7,PSWHYCHG8,PSWHYCHG9,INCOME
0,V340000001S34010804300113,34,1,NaN,2,1548.941305,2889.966484,1986,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,7
1,V340000001S37010632600113,34,1,NaN,2,1080.178856,3023.046143,1967,2,2,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,4
2,V340000001S52011057710113,34,1,NaN,2,1542.979030,4318.263386,1941,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,4
3,V340000001S79010365210123,34,1,NaN,2,1111.825305,2074.409055,1962,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,8
4,V340000002S01021059400123,34,2,NaN,4,87.544682,173.361259,1975,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64557,V349950005S98550496110013,34,55,NaN,3,1162.836760,1038.155142,1950,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,5
64558,V349950006S12560447300013,34,56,NaN,4,381.883978,345.463041,1951,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,6
64559,V349950006S12560841400013,34,56,NaN,4,338.360667,306.090623,1962,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88
64560,V349950006S33560569500023,34,12,NaN,2,178.042414,376.184422,1968,2,2,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,1
64561,V349950006S92560265500013,34,16,NaN,4,151.287322,439.960378,1965,2,1,...,-88,-88,-88,-88,-88,-88,-88,-88,-88,7