In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm 
import re
from sklearn.preprocessing import StandardScaler, MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, ElasticNetCV, LassoCV, RidgeCV
from scipy import stats
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
df = pd.read_csv('listings.csv')

In [3]:
# Since zip_code was from our query and not pulled from
# AirBnB itself, we'll need to drop it as it won't give us
# accurate insights or information.
df.drop('zip_code', axis = 1, inplace = True)

In [4]:
# Drop duplicates - we will keep dates for now
df.drop_duplicates(['title', 'listing_type', 'city',
                   'numerical_descriptors', 'amenities', 'dates'],
                  inplace = True)
df.reset_index(drop = True, inplace = True)

In [5]:
# orig_price = list(df[df['discounted'] == 1].index)
# df.loc[orig_price, 'price_per_night'] = df.loc[orig_price, 'original_value']

In [6]:
# Drop some columns that we determined as insignificant as well as some text based columns
df.drop(['title', 'num_reviews'], axis = 1, inplace = True)
df = df.reset_index(drop = True)

# Some simple cleaning and adjustments
df = df.rename({"city": "area"}, axis = 1)
df['discounted'] = df['discounted'].astype(int)

n = df.shape[0]

In [7]:
df.to_csv('lgbm_listings.csv', index = False)

In [8]:
# Create dummies for area, listing_type and dates - drop the first columns
areas = pd.get_dummies(df['area'], drop_first = True)
dates = pd.get_dummies(df['dates'], drop_first = True)
listing_types = pd.get_dummies(df['listing_type'], drop_first = True)
df.drop(['area', 'listing_type', 'dates'], axis = 1, inplace = True)

In [9]:
# Concatenate the 4 dfs
df = pd.concat([df, areas, listing_types, dates], axis = 1)

In [10]:
# Convert the amenities into a list so we can use MLB
def str_to_list(amenities_str):
    if amenities_str == 'None':
        return []
    else:
        return amenities_str.strip().split(' - ')
    
df['amenities'] = df['amenities'].fillna('None')
df['amenities'] = df['amenities'].apply(str_to_list)

# Use MultiLabelBinarizer from scikit to encode
mlb = MultiLabelBinarizer()
amenities_df = pd.DataFrame(mlb.fit_transform(df['amenities']), columns = mlb.classes_)

# Concatenate the df with amenities and drop the amenities column
df.drop('amenities', axis = 1, inplace = True)
df = pd.concat([df, amenities_df], axis = 1)

In [11]:
def guest_num(nd_list):
    for nd_str in nd_list:
        if 'guest' in str.lower(nd_str):
            guest_n = nd_str
            nd_list.remove(nd_str)
            return guest_n
    return 'N/A guest'

def bedroom_num(nd_list):
    for nd_str in nd_list:
        if 'bedroom' in str.lower(nd_str):
            bedroom_n = nd_str
            nd_list.remove(nd_str)
            return nd_str
        elif 'studio' in str.lower(nd_str):
            studio = nd_str
            nd_list.remove(nd_str)
            return nd_str
    return 'N/A bedroom'

def bed_num(nd_list):
    for nd_str in nd_list:
        if 'bed' in str.lower(nd_str):
            bed_n = nd_str
            nd_list.remove(nd_str)
            return nd_str
    return 'N/A bed'

def sharedbath_num(nd_list):
    for nd_str in nd_list:
        if 'shared bath' in str.lower(nd_str):
            sbath_n = nd_str
            nd_list.remove(nd_str)
            return nd_str
    return 'N/A shared bath'

def bath_num(nd_list):
    for nd_str in nd_list:
        if 'bath' in str.lower(nd_str):
            bath_n = nd_str
            nd_list.remove(nd_str)
            return nd_str
    return 'N/A bath'

In [12]:
df['numerical_descriptors'] = df['numerical_descriptors'].apply(str_to_list)

df['guests'] = df['numerical_descriptors'].apply(guest_num)
df['bedrooms'] = df['numerical_descriptors'].apply(bedroom_num)
df['beds'] = df['numerical_descriptors'].apply(bed_num)
df['shared baths'] = df['numerical_descriptors'].apply(sharedbath_num)
df['baths'] = df['numerical_descriptors'].apply(bath_num)

In [13]:
guest_dummies = pd.get_dummies(df['guests'], drop_first = True)
bedroom_dummies = pd.get_dummies(df['bedrooms'], drop_first = True)
bed_dummies = pd.get_dummies(df['beds'], drop_first = True)
sbath_dummies = pd.get_dummies(df['shared baths'], drop_first = True)
bath_dummies = pd.get_dummies(df['baths'], drop_first = True)

df = pd.concat([df, guest_dummies, bedroom_dummies, bed_dummies, sbath_dummies, bath_dummies], axis = 1)
df.drop(['numerical_descriptors', 'guests', 'bedrooms', 'beds', 'shared baths', 'baths'], axis = 1, inplace = True)

In [14]:
# If not discounted, fill in original_value with current price
df['original_value'] = df['original_value'].fillna(df['price_per_night'])

In [15]:
df

,rating,discounted,original_value,price_per_night,cleaning_fee,service_fee,Albany,Atchison Village,Atherton,Balboa Terrace,...,3 baths,3.5 baths,4 baths,4.5 baths,5 baths,9 baths,Half-bath,N/A bath,Private half-bath,Shared half-bath
0,4.87,0,110.0,110.0,50.0,38.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.71,0,106.0,106.0,90.0,42.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,0,49.0,49.0,25.0,17.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4.59,0,75.0,75.0,85.0,33.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.77,1,101.0,85.0,25.0,28.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7059,NaN,0,245.0,245.0,0.0,69.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7060,4.33,0,175.0,175.0,125.0,67.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7061,NaN,0,38.0,38.0,0.0,11.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7062,NaN,0,75.0,75.0,0.0,21.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7063,NaN,0,564.0,564.0,0.0,159.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [16]:
# Declare our alphas and l1 ratios for elastic net later
alphas = 10**np.linspace(-2, 2, 200)
l1_ratios = np.array([.1, .5, .7, .9, .95, .99, 1])

In [31]:
# Impute ratings
mratings = set(df[df['rating'].isna()].index)
msfee = set(df[df['service_fee'] == 0].index)
mcfee = set(df[df['cleaning_fee'] == 0].index)
mratingsp = set()

for i in msfee:
    if i not in mratings:
        mratingsp.add(i)
for i in mcfee:
    if i not in mratings:
        mratingsp.add(i)
        
mratingsp = list(mratingsp)

dfr_train = df.drop(mratings)
dfr_test = df.loc[mratings]

dfr_train.drop(mratingsp, inplace = True)

Xr_train = dfr_train.drop('rating', axis = 1)
Xr_test = dfr_test.drop('rating', axis = 1)

yr_train = dfr_train['rating']

std = StandardScaler()
std.fit(Xr_train.values)

Xr_tr = std.transform(Xr_train.values)
Xr_te = std.transform(Xr_test.values)

mratings_model = LinearRegression()#alphas = alphas, l1_ratio = l1_ratios, cv = 5)
mratings_model.fit(Xr_tr, yr_train)

df.loc[mratings, 'rating'] = mratings_model.predict(Xr_te)

In [41]:
# Impute service fees
msp = []

for i in mcfee:
    if i not in msfee:
        msp.append(i)
        
dfs_train = df.drop(msfee)
dfs_test = df.loc[msfee]

dfs_train.drop(msp, inplace = True)

Xs_train = dfs_train.drop('service_fee', axis = 1)
Xs_test = dfs_test.drop('service_fee', axis = 1)

ys_train = dfs_train['service_fee']

std = StandardScaler()
std.fit(Xs_train.values)

Xs_tr = std.transform(Xs_train.values)
Xs_te = std.transform(Xs_test.values)

msfee_model = LinearRegression()#(alphas = alphas, l1_ratio = l1_ratios, cv = 5)
msfee_model.fit(Xs_tr, ys_train)

df.loc[msfee, 'service_fee'] = msfee_model.predict(Xs_te)

In [44]:
# Impute cleaning fees
mcp = []

for i in msfee:
    if i not in mcfee:
        mcp.append(i)
        
dfc_train = df.drop(mcfee)
dfc_test = df.loc[mcfee]

dfc_train.drop(mcp, inplace = True)

Xc_train = dfc_train.drop('cleaning_fee', axis = 1)
Xc_test = dfc_test.drop('cleaning_fee', axis = 1)

yc_train = dfc_train['cleaning_fee']

std = StandardScaler()
std.fit(Xc_train.values)

Xc_tr = std.transform(Xc_train.values)
Xc_te = std.transform(Xc_test.values)

mcfee_model = LinearRegression()#alphas = alphas, l1_ratio = l1_ratios, cv = 5)
mcfee_model.fit(Xc_tr, yc_train)

#df.loc[mcfee, 'cleaning_fee'] = mcfee_model.predict(Xc_te)

LinearRegression()

In [43]:
mcfee_model.score(Xc_tr, yc_train)

0.9991430803807244

In [ ]:
# Subtract the imputed fees from the price_per_night
df.loc[msfee, 'price_per_night'] -= df.loc[msfee, 'service_fee']/2
df.loc[mcfee, 'price_per_night'] -= df.loc[mcfee, 'cleaning_fee']/2

In [ ]:
erroneous = list(df[df['price_per_night'] < 0].index)
erroneous += list(df[df['rating'] > 5].index)
df.drop(erroneous, inplace = True)

In [ ]:
test = list(df[df['price_per_night'] > (df['price_per_night'].mean() + 3 * df['price_per_night'].std())].index)
df.drop(test, inplace = True)

In [ ]:
# We can create dummy variables for the dates since they're categorical here

In [ ]:
# Change the date column to datetime
# We can remove the end date since each one listing
# Will only span 2 days
df['dates'] = pd.to_datetime(df['dates'].str.split(' ').str[0:2].str.join(' ') + ', 2021')

In [ ]:
df.to_csv('adjlistings.csv', index = False)

In [ ]:
plt.hist(df['price_per_night'])
plt.show()